name: Mark and close stale issues

on:
  workflow_dispatch
  #schedule:
  #- cron: "0 12 * * SAT"

jobs:
  stale:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/stale@v3
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        # The message to post on the issue when tagging it. If none provided, will not mark issues stale.
        stale-issue-message: 'This issue is stale because it has been open one year with no activity. Remove Stale label or comment or it will be closed in 30 days.'
        # The message to post on the issue when closing it. If none provided, will not comment when closing an issue.
        close-issue-message: 'Issue has been closed automatically after one year of inactivity.'
        # The number of days old an issue can be before marking it stale. Set to -1 to never mark issues or pull requests as stale automatically.
        days-before-stale: 360 # optional, default is 60
        # The number of days to wait to close an issue or pull request after it being marked stale. Set to -1 to never close stale issues.
        days-before-close: 30 # optional, default is 7
        # The label to apply when an issue is stale.
        #stale-issue-label: # optional, default is Stale
        # The label to apply when an issue is closed.
        # close-issue-label: 'Closed-inactive' # optional
        # The labels to apply when an issue is exempt from being marked stale. Separate multiple labels with commas (eg. "label1,label2")
        #exempt-issue-labels: # optional, default is 
        # Remove stale labels from issues when they are updated or commented on.
        #remove-stale-when-updated: # optional, default is true
        # Run the processor in debug mode without actually performing any operations on live issues.
        debug-only: true # optional
        # Skip adding stale message when marking an issue as stale.
        #skip-stale-issue-message: # optional
